body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width:100%;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1687a7;
}

.foodOfDayDivContainer{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 8px;
    width:40%;
    padding: 10px 50px 50px 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
}

#randomFoodBtn{
    text-transform: uppercase;
    outline: 0;
    background: #1687a7;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 15%;
}
#randomFoodBtn:hover, #randomFoodBtn:focus, #randomFoodBtn:active{
    background: #156378;
}

.sentencesFoodContainer .sentence{
    font-size: 1.5em;
    text-transform: uppercase;
    word-spacing: 1.5px;
    font-weight: 500;
}

.sentencesFoodContainer .food{
    font-size: 1.8em;
    text-transform: uppercase;
    word-spacing: 1.5px;
    position: relative;
    top: 15px;

    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.foodOfDayDivContainer button{
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1687a7;
    color: white;
}

/* LOADER STYLE */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -65px 0 0 -50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* RESPONSIVITE */
@media(max-width:700px){
    .foodOfDayDivContainer{
        width: 50%;
    }

    .sentencesFoodContainer .sentence{
        font-size: 1.2em;
    }
}

@media(max-width:500px){

    .sentencesFoodContainer .sentence{
        font-size: 1em;
    }

    .foodOfDayDivContainer button{
        padding: 5px 15px;
        font-size: 1rem;
    }
}

@media(max-width:400px){

    .sentencesFoodContainer .sentence{
        font-size: 1em;
    }

    .foodOfDayDivContainer button{
        padding: 147px;
        font-size: 0.2rem;
        color:red;
    }
}